body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}

.hero-section {
    position: relative;
    background-image: url('./images/Hero.jpg.webp');
    background-size: cover;
    height: 100vh;
    background-color: black;
}


.hero-section .card {
    width: 80%;
    background-color: rgba(64, 64, 64, 0.8) ; /* Dark grey with 80% opacity */;
}
.hero-section .card-body {
    color: white;

}

.hero-section.btn {
    background-color: black;
}
.about-section {
    background-color: black;
    padding: 50px 0;
    color: white;
}

.about-section .card {
    width: 80%;
}

.about-section .card-body {
    color: white;
}

.about-section > .card {
    background-color: rgba(64, 64, 64, 0.8); /* Dark grey with 80% opacity */
    color: white;
}

.learn-section .card {
    margin-top: 20px; 
}

.learn-section .card {
    justify-content:;
    width: 80%;
    background-color: rgba(64, 64, 64, 0.8);
     /* Dark grey with 80% opacity */
    color:white;
}